* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-color: steelblue;
    margin: 0;
    padding: 0;
}


#page {
    background-image: url(./bg-masthead.jpg);
    height: 700px;
    background-size: cover;


}

.content {
    font-size: 6rem;
    font-weight: bold;
    position: absolute;
    margin-left: 35%;
    margin-top: 24%;
}

h3 {
    margin-left: 53%;
    margin-top: 34%;
    position: absolute;
    font-weight: 600;
    font-style: oblique;
}

.btn {
    border: 3px solid rgb(128, 183, 228);
    background-color: steelblue;
    padding: 15px;
    position: absolute;
    color: whitesmoke;
    margin-left: 54%;
    margin-top: 40%;
}



h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 7rem;
}

h4 {
    font-size: 20px;
    text-align: center;
}

.btn1 {
    border: 3px solid black;
    color: whitesmoke;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    margin-left: 45%;
    position: absolute;
    padding: 13px;
    margin-top: 3.5%;
}

p {
    margin-top: 30%;
    margin-left: 48%;
    font-weight: 900;
    font-size: 1.25rem;
    color: rgb(253, 213, 12);
    padding-top: 200px;

}

.Services {
    background-color: steelblue;
}
